.jump-link a {
    border-top: 1px solid #7171a3;
    background:#0069d1;
    background: -webkit-gradient(linear,right top,right bottom, from(#a3cdf7), to(#0069d1));
    background: -webkit-linear-gradient(top,#a3cdf7, #0069d1);
    background: -moz-linear-gradient(top, #a3cdf7,#0069d1);
    background: -ms-linear-gradient(top, #a3cdf7, #0069d1);
    background: -o-linear-gradient(top, #a3cdf7, #0069d1);
    padding: 9px 45px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: #ffffff;
    font-size: 12px;
    font-family: Georgia, serif;
    text-decoration: none;
    vertical-align: middle;
    }
 .jump-link a:hover {
    border-top-color: #b0a1f3;
    background: #b0a1f3;
    color: #ffffff;
    }
 .jump-link a:active {
    border-top-color: #0099ff;
    background: #0099ff;
    }
.jump-link {
float:right;
}